<div>
  <form style="padding-bottom: 0px; margin-bottom: 0px;" enctype="multipart/form-data" method="get" name="inputform">
    <input type="radio" name="shape" value="0" id="routemap" onclick="submitInputMap()" checked/> <label for="routemap">Route</label>
    <input type="radio" name="shape" value="1" id="profile" onclick="submitInput()" /> <label for="profile">Profile</label>
    <input type="hidden" id="gpxFile" name="gpxFile" value="{{ gpx_url }}">
  </form>
</div>

<div><button onclick="runReset()" style="padding-top: 5px; padding-bottom: 5px; float: right;">Reset View</button></div>

<div id="output" class="panel">
    <div id="activityView"></div>
</div>

<p>Support FastestKnownTime.com by purchasing a 3D print of this route from <a href="{{ wayzada_route_url }}">WayZada</a>.</p>